.swiper-container {
  width: 100vw;
  height: 100vh;
  position: relative; /* Ensure proper positioning for arrows and pagination */
}

.swiper-slide {
    display: flex
;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #333;
    height: 100%;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  height: calc(150px);
}

.swiper-pagination-bullet {
  background-color:#212529!important; /* Red bullets */
  width: 12px;
  height: 12px;
  border-radius: 50%; /* Make the bullets round */
}

.swiper-pagination-bullet-active {
  background-color: #212529; /* Active bullet color */
}

.swiper-button-next,
.swiper-button-prev {
  color: #212529; /* Red arrows */
  z-index: 10; /* Ensure arrows appear above other elements */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; /* Adjust arrow size */
}

.swiper-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.swiper{
    height: calc(100vh - 200px);
}

    .swiper-slide h1 {
    color:black;
    display: flex;
    align-items: center;  /* Center align icon and heading text */
  }
  .swiper-slide p{
    width: 100%;
  }

.swiper-line {
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 1;
}

.swiper-line line {
  stroke: white; /* Make the line white */
}

.swiper-line circle {
  fill: white; /* Make the nodes white */
}